<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.shield.modules.mapper.MenuPermissionMapper">
    <resultMap id="BaseResultMap" type="cn.com.glsx.shield.modules.entity.MenuPermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="permission_tag" jdbcType="VARCHAR" property="permissionTag"/>
        <result column="interface_url" jdbcType="VARCHAR" property="interfaceUrl"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , permission_tag, interface_url, del_flag, created_date, created_by, updated_date, updated_by
    </sql>

    <select id="selectByMenuIds" resultMap="BaseResultMap">
        select tp.* from t_menu_permission tp,t_menu tm
        where tp.permission_tag = tm.permission_tag
        and tm.id in
        <foreach collection="menuIds" separator="," close=")" open="(" item="menuId">
            #{menuId}
        </foreach>
        and tm.del_flag = 0
    </select>
</mapper>