<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.shield.modules.mapper.TenantMapper">
    <resultMap id="BaseResultMap" type="cn.com.glsx.shield.modules.entity.Tenant">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="tenant_name" jdbcType="VARCHAR" property="tenantName"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , tenant_name, del_flag, created_date, created_by,
        updated_date, updated_by
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tenant
        where del_flag = 0
        and id = #{id}
    </select>

    <select id="selectAllNotDel" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tenant where del_flag = 0
    </select>

    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_tenant
        where del_flag = 0
        and id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>

    <update id="logicDeleteById">
        update t_tenant
        set del_flag = -1
        where id = #{id}
    </update>

</mapper>