<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.glsx.shield.modules.mapper.UserRoleRelationMapper">
    <resultMap id="BaseResultMap" type="cn.com.glsx.shield.modules.entity.UserRoleRelation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , user_id, role_id, del_flag, created_date, created_by, updated_date, updated_by
    </sql>

    <select id="selectUserRoleRelationList" resultMap="BaseResultMap">
        select turr.*
        from t_user_role_relation turr,t_user tu
        where turr.del_flag = 0 and tu.del_flag = 0
        and turr.user_id = tu.id
        <if test="userId != null">
            and turr.user_id = #{userId}
        </if>
        <if test="roleId != null">
            and turr.role_id = #{roleId}
        </if>
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_role_relation
        where del_flag = 0
        and user_id = #{userId}
    </select>

    <select id="selectByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_user_role_relation
        where del_flag = 0
        and role_id = #{roleId}
    </select>
</mapper>